﻿@model TodoXml.Models.Tasks
@{
    ViewBag.Title = "New";
}
<h3>Add Task</h3>

@using (Html.BeginForm("Add", "Home"))
{
<div class="form-group">
    <label for="task">Task:</label>
    <textarea class="form-control" id="task" name="task" rows="5" cols="5"></textarea>
</div>
<div class="form-group">
    <label for="due">Due:</label>
    <input type="text" class="form-control" id="due" name="due">
</div>

<button type="submit" class="btn btn-primary">Add</button> 
}
