﻿
@{
    ViewBag.Title = "Search";
}

    <div class="container">

        <p>@Model["task"].InnerText</p>

        <p>@Model["due"].InnerText</p>

        @Html.ActionLink("Update", "Update", new { id = Model["Id"].InnerText }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model["Id"].InnerText })

    </div>



