﻿@{
    ViewBag.Title = "Tasks";
}
<h1>Tasks</h1>


@foreach (var t in Model)
{
<div class="container">

    <p><a class="btn btn-default" href="Search/@t["Id"].InnerText">@t["task"].InnerText</a></p>
</div>
}
